/* Banner */

.logo {
  width: 50px;
  background-color: #11B7F4;
  border-radius: 50%;
  margin-right: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.subtitle {
  letter-spacing: 2px;
}

section.border-bottom {
  border-bottom: 1px solid #ddd;
}

.banner p {
  text-shadow: 1px 2px 40px #FAFAFA;
}

/* Button Custom Color (override btn-primary) */

.btn-primary {
  background-color: #0B62E3 !important;
}

.btn-primary:hover {
  background-color: #1AA2ED !important;
}

/* Skills and Languages */

.icon-blue {
  color: #0B62E3;
  /* Set the icon color to #0B62E3 */
}

/* Social Media Custom Color */

.btn-media {
  color: #0B62E3 !important;
}

.btn-media:hover {
  color: #1AA2ED !important;
}

/* Card Projects */

.card {
  transition: transform 0.2s;
  /* Smooth hover effect */
}

.card:hover {
  transform: scale(1.05);
  /* Slightly enlarge the card on hover */
}
